        <!-- About-->
        <section class="content-section bg-light" id="acerca-de">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>En FILTEC, nuesta prioridad es tu bienestar. Tenemos la ultima tecnoligia en tratamiento de agua</h2>
                        <p class="lead mb-5">
                            En Filtec, ofrecemos soluciones de tratamiento y purificación de agua para negocios como Restaurantes, Cafeterías, Hoteles, Escuelas, Gimnasios y Hospitales. Contáctanos, tenemos la mejor opción para tu negocio.<br><br>
                            Contáctanos! somos la solución para tu negocio con servicios como:<br>
                            Instalaciones de equipos y plantas para tratamiento de agua.
                        </p>
                        <a class="btn btn-dark btn-xl" href="#servicios">Nuestros servicios</a>
                    </div>
                </div>
            </div>
        </section>