        <!-- About-->
        <section class="content-section bg-light" id="acerca-de">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>En FILTEC, nuesta prioridad es tu bienestar. Tenemos la ultima tecnoligia en tratamiento de agua</h2>
                        <p class="lead mb-5">
                            Aqui la descripcion de la empresa. Tipo semblansa
                        </p>
                        <a class="btn btn-dark btn-xl" href="#servicios">Nuestros servicios</a>
                    </div>
                </div>
            </div>
        </section>