        <!-- Call to Action-->
        <section class="content-section bg-primary text-white" id="contacto">
            <div class="container px-4 px-lg-5 text-center">
                <form action="/" method="get">
                    <div class="mb-3">
                        <label class="form-label text-white">Nombre</label>
                        <input type="text" class="form-control" id="inputName" name="name" placeholder=" Ingresa tu Nombre...">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">Email address</label>
                        <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" name ="email" placeholder=" Ingresa tu Email...">
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">Numero telefónico</label>
                        <input type="phone" class="form-control" id="inputPhone" name ="phone" placeholder=" Ingresa tu Teléfono..."> 
                    </div>
                    <div class="mb-3">
                        <label class="form-label text-white">Comentarios</label>
                        <textarea type="text" class="form-control" id="inputComents" name="comentarios" placeholder=" Compártenos tus cometarios..."></textarea>
                    </div>
                    <input type="hidden" name="coment" value="0">
                    <input type="hidden" name="desde" value="los servicios en general">
                    <button type="submit" class="btn btn-primary">Contactar</button>
                </form>   
            </div>
        </section>