        <!-- Portfolio-->
        <section class="content-section" id="portfolio">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading text-center">
                    <h3 class="text-secondary mb-0">Portfolio</h3>
                    <h2 class="mb-5">Proyectos recientes</h2>
                </div>
                <div class="row gx-0">
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Hostipal x</div>
                                    <p class="mb-0">Una breve descripcion de lo que se hizo en el proyecto</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/hospital.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">industrial</div>
                                    <p class="mb-0">Una breve descripcion de lo que se hizo en el proyecto</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/industrial.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Residencial</div>
                                    <p class="mb-0">Una breve descripcion de lo que se hizo en el proyecto</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/residencial.jpg" alt="..." />
                        </a>
                    </div>
                    <div class="col-lg-6">
                        <a class="portfolio-item" href="#!">
                            <div class="caption">
                                <div class="caption-content">
                                    <div class="h2">Restaurantes</div>
                                    <p class="mb-0">Una breve descripcion de lo que se hizo en el proyecto</p>
                                </div>
                            </div>
                            <img class="img-fluid" src="assets/img/restaurantes.jpg" alt="..." />
                        </a>
                    </div>
                </div>
            </div>
        </section>