        <!-- Services-->
        <section class="content-section bg-primary text-white text-center" id="servicios">
            <div class="container px-4 px-lg-5">
                <div class="content-section-heading">
                    <h3 class="text-secondary mb-0">Servicios</h3>
                    <h2 class="mb-5">Nuestros servicios</h2>
                </div>
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="far fa-hospital"></i></span>
                        <h4><strong>Area Medica</strong></h4>
                        <p class="text-faded mb-0">Mantenimiento a sistemas de tratamiento de agua en hemodialisis, equipos centralizados y bombeo</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="bi bi-house-door"></i></span>
                        <h4><strong>Residencial</strong></h4>
                        <p class="text-faded mb-0">Limpieza de tinacos, aljibers o cisternas. Instalacion y Mantenimiento de sistemas de filtracion y osmosis inversa</p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-5 mb-md-0">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="bi bi-brightness-high"></i></span>
                        <h4><strong>Energias renobables</strong></h4>
                        <p class="text-faded mb-0">
                            Calentadores solares
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <span class="service-icon rounded-circle mx-auto mb-3"><i class="bi bi-cup"></i></span>
                        <h4><strong>Restaurantes</strong></h4>
                        <p class="text-faded mb-0">Instalacion y mantenimiento de filtracion como maquinas de hielo, refrescos y cafeteras industriales</p>
                    </div>
                </div>
            </div>
        </section>